.grid {
  display: grid;
  gap: var(--enchase-space-md);
  grid-template-columns: var(--grid-template-columns, repeat(1, 1fr));
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
